page-employee-leave ion-list ion-label {
    margin-top:0px !important;
    margin-bottom:0px !important;
    font-size:1.6rem;
}
page-employee-leave ion-input  {
    border: 1px solid #dddddd;
}
page-employee-leave ion-input input {
    margin-top:5px !important;
    margin-bottom:5px !important;
}
page-employee-leave ion-list {
    border: 1px solid #dddddd;
    margin-bottom: 0px !important;
}
page-employee-leave ion-list ion-item {
    min-height: 2.4rem !important;
    line-height: 2.4rem !important;
}
page-employee-leave ion-list ion-item h2 {
    line-height: 2.4rem;
}
page-employee-leave ion-list ion-item ion-note {
    margin: 0px !important;
}