
page-location ion-select {
    padding: 5px 7px !important;
    max-width: 100% !important;
    border:1px solid #dddddd;
}
page-location .list-ios .item-block .item-inner {
    border-bottom: none ;
}
page-location ion-item-sliding .item-block {
    border-bottom: 1px solid #eeeeee !important;
}
