<!--
  Generated template for the PunishmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-menu [content]="content" side="right">
  <ion-content padding>
    <h2>对象筛选</h2>
    <ion-item no-lines margin-top>
        <ion-label>行业</ion-label>
        <ion-select [(ngModel)]="selectedItem.business" placeholder="行业列表" (ionChange) ="change('business')"> 
            <ion-option  *ngFor ="let item of businesses" value="{{item.id}}">{{item.name}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item no-lines>
        <ion-label>门店</ion-label>
        <ion-select [(ngModel)]="selectedItem.shop" placeholder="门店列表" (ionChange) ="change('shop')">
            <ion-option *ngFor ="let item of shops" value="{{item.id}}">{{item.name}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item no-lines>
        <ion-label>部门</ion-label>
        <ion-select [(ngModel)]="selectedItem.dept" placeholder="部门列表" (ionChange) ="change('dept')">
            <ion-option *ngFor ="let item of depts" value="{{item.name}}">{{item.name}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item no-lines>
        <ion-label>岗位</ion-label>
        <ion-select [(ngModel)]="selectedItem.position" placeholder="岗位列表" (ionChange) ="change('position')">
            <ion-option *ngFor ="let item of positions" value="{{item.name}}">{{item.name}}</ion-option>
        </ion-select>
    </ion-item>
    <h2 margin-top>类型筛选</h2>
    <ion-row text-center  margin-top class="filter-buttons">
        <ion-col>
            <button ion-button small outline 
                    (click)="type = 1"
                    [ngClass]="type == 1?'selected':''">奖励</button>
        </ion-col>
        <ion-col>
            <button ion-button small outline 
                    (click)="type = 0"
                    [ngClass]="type == 0?'selected':''">处罚</button>
        </ion-col>
        <ion-col>
                <button ion-button small outline 
                    (click)="type = -1"
                    [ngClass]="type == -1?'selected':''">全部</button>
        </ion-col>
    </ion-row>
    <h2 margin-top>可用状态</h2>
    <ion-row text-center  margin-top class="filter-buttons">
        <ion-col>
            <button ion-button small outline 
                    (click)="status = 1"
                    [ngClass]="status == 1?'selected':''">已应用</button>
        </ion-col>
        <ion-col>
            <button ion-button small outline 
                    (click)="status = 0"
                    [ngClass]="status == 0?'selected':''">不可用</button>
        </ion-col>
        <ion-col>
                <button ion-button small outline 
                    (click)="status = -1"
                    [ngClass]="status == -1?'selected':''">全部</button>
        </ion-col>
    </ion-row>
    <h2 margin-top>是否应用</h2>
    <ion-row text-center  margin-top class="filter-buttons">
        <ion-col>
            <button ion-button small outline 
                    (click)="active = 1"
                    [ngClass]="active == 1?'selected':''">已应用</button>
        </ion-col>
        <ion-col>
            <button ion-button small outline 
                    (click)="active = 0"
                    [ngClass]="active == 0?'selected':''">未可用</button>
        </ion-col>
        <ion-col>
                <button ion-button small outline 
                    (click)="active = -1"
                    [ngClass]="active == -1?'selected':''">全部</button>
        </ion-col>
    </ion-row>
    <ion-footer>
        <ion-row>
            <ion-col>
            <button ion-button full color="light" (click)="reset()">重置</button>
            </ion-col>
            <ion-col>
            <button ion-button full (click)="search($event)">确定</button>
            </ion-col>
        </ion-row>
    </ion-footer>
  </ion-content>
</ion-menu>

<ion-content #content>
<ion-header>
<ion-toolbar>
    <ion-buttons start>
    <button ion-button icon-only color="royal" (click)="handleGoback()">
        <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>{{titleName}}罚单列表</ion-title>
    <ion-buttons end>
    <button ion-button icon-only color="royal" (click)="handleShowFilterMenu()">
        <ion-icon name="ios-funnel"></ion-icon>
    </button>
    <button ion-button icon-only small color="royal" (click)="handleAdd()">
        添加
    </button>
    </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor ="let item of punishments" (click)="handleItemClick($event)">
            <ion-row>
                <ion-col col-2>
                    <p><strong>名称</strong></p>
                    <p>{{item.name}}</p>
                </ion-col>
                <ion-col>
                    <p><strong>介绍</strong></p>
                    <p>{{item.desc}}</p>
                </ion-col>
                <ion-col col-2>
                    <p><strong>金额</strong></p>
                    <p class="middle">{{item.amount}}</p>
                </ion-col>
                <ion-col col-2>
                    <p><strong>默认应用</strong></p>
                    <p ion-item class="toggle-box" no-lines>
                        <ion-toggle value="ok" checked="{{item.status}} === 0 ? false : true"></ion-toggle>
                    </p>
                </ion-col>
            </ion-row>
        </ion-item>  
    </ion-list>
</ion-content>
</ion-content>
