page-post-shift-setting {
    ion-content {
        h2 {
            margin-top: 1rem; 
            font-size: 1.6rem;
            padding-left: 16px;
            em {
                font-style: normal;
                color:#4383E7;
                padding: 0 5px;
            }
        }
        .item-ios[tb] , .item-md[tb]  { 
            border-top: 1px solid #eeeeee;
        }
        .item-block {
            min-height: 3.6rem;
        }
        ion-row {
            ion-col[col-4] {
                padding-top: 0px;
                padding-bottom: 0px;
            }
        }
        p {
            padding-left: 16px;
            line-height: 1.8em;
            font-size: 1.8rem;
            background: #eeeeee;
        }
        ion-item {
            ion-label {
                font-size: 1.6rem;
                color: #000 !important;
            }
        }
        .datetime-ios , .datetime-md {
            border: 1px solid #dddddd;
            min-width: 90px;
            padding: 4px 5px 4px 5px;
            text-align: center;
        }
    }
}
