page-attendance-personal-check-detail {
    ion-content {
        ion-row {
            img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
        }
    }
}